body{
    display: flex;
    font-weight: 900;
    font-size: x-large;
    color: royalblue;
    margin: auto;
    padding: 50px;
    background-color: yellow;
}
h1{
    text-align: center;
    margin: auto;
    padding: 10px;
}

#main_form{
    display: flex;
    text-align: center;
    font-weight:100;
    color: violet;
    margin: auto;
    padding: 10px;
}